
/* .container{
    width: 1140%;
    margin: 0 auto;
} */

/* .container-fluid{
    width: 100%;
} */

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.col-1{
    width: calc(100%/12);
}

.col-2{
    width: calc(100%/6);
}

.col-3{
    width: calc(100%/4);
}

.col-4{
    width: calc(100%/3);
}

.col-5{
    width: calc(8.33%*5);
}

.col-6{
    width: 50%;
}

.col-7{
    width: calc(8.33%*7);
}

.col-8{
    width: calc(8.33%*8);
}

.col-9{
    width: calc(8.33%*9);
}

.col-10{
    width: calc(8.33%*10);
}

.col-11{
    width: calc(8.33%*11);
}

.col-12{
    width: 100%;
}